= link_to "Ask a Question", new_clients_question_path, class: 'btn btn-primary'
- if @questions.any?
  %h1.text-center.mb-4 Recent Questions
  .list-group
    - @questions.each do |question|
      .list-group-item
        %h5= link_to question.title, clients_question_path(question)
        %p= truncate(question.body, length: 100)
        %p
          Status: #{question.status}
        %small.text-muted
          Category: #{question.category}
        - if question.answers.any? 
          %div
            %span.badge.badge-success Answers Available
        
- else
  %h3.text-center.mb-4 No questions at the moment.
