%div.mb-2{id: "answers_#{@question.id}"}
  = render 'common/question_details', question: @question
  - if @answers.any?
    - @answers.each do |a|
      %div.mb-2{id: "answer_#{a.id}"}
        = render 'single_answer', answer: a, question: @question
  - else
    %h5 There is no answer yet.
.mt-2
  = link_to "Back to Questions", clients_questions_path, class: 'btn btn-primary'
