%h3
  %strong Que:
  = question.title
%div
  %strong Category:
  = question.category
%div
  %strong Status:
  %span{id: "status_answers_#{@question.id}"}
    = question.status.capitalize
%label
  %strong Description:
%div
  = question.body
